* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/564x/b9/4b/f0/b94bf04232393e1e494b8d8d7ac7bfd8.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
}

a{
    text-decoration: none;
    color: black;
}
.header-container { 
        
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);

}



.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#first, #second{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#first{
    width: 55%;
}

#second{
    width: 55%;
}

#sohi{
    width: 30%;
}


.main-item {
    padding: 40px;
    flex: 1;
    margin: 0 5px;
}
.main-item img {
    width: 100%;
    height: auto;
}


.main-item:nth-child(1) img {
    transform: rotate(-10deg); /* 첫 번째 이미지 각도 */
}

.main-item:nth-child(2) img {
    transform: rotate(5deg); /* 두 번째 이미지 각도 */
}
.main-item:nth-child(3) img {
    transform: rotate(10deg); /* 세 번째 이미지 각도 */
}
.main-item:nth-child(4) img {
    transform: rotate(-10deg); /* 네 번째 이미지 각도 */
}
.main-item:nth-child(5) img {
    transform: rotate(-7deg); /* 다섯 번째 이미지 각도 */
}

@media (max-width: 750px) {
        #first{
            width: 75%;
        }

        #second{
            width: 75%;
        }
        #first, #second {
            flex-direction: column;
            align-items: center;
        }
        .main-item {
            margin: 5px 0;
        }

        #sohi{
            width: 75%;
        }
   
}

@media (min-width: 751px) and (max-width: 1300px) {
  
    #main-content {
     margin: 40px;
     
    }

    #first{
        width: 95%;
        flex-wrap: nowrap;
    }
    
    #second{
        width: 105%;
        flex-wrap: nowrap;
    }
   
    #first, #second {
        padding: 20px;
        margin: 20px;
    }
   
    .main-item {
        padding: 30px;
        flex: 1 0 45%; /* 아이템이 두 개씩 들어가도록 설정 */
        margin: 0 5px;
    }

    #sohi{
        width: 50%;
    }
   
}