* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/564x/dd/94/98/dd94986bc3db16f402537e05cdcbd7a1.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
}

a{
    text-decoration: none;
    color: black;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
    border-radius: 2px;
}

.hidden {
    display: none;
}

.hero {
    background-image: url('https://i.pinimg.com/564x/dd/94/98/dd94986bc3db16f402537e05cdcbd7a1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    background: none;
    padding: 80px;
    border-radius: 10px;
}

.hero h1 {
    color: #fff;
    font-size: 65px;
    text-align: center;
    transition: tra nsform 0.3s ease-in-out; /* 추가된 부분 */
}

.hero-content:hover h1 {
    transform: scale(1.2); /* 추가된 부분 */
}

.gallery {
    padding: 40px 20px;
    text-align: center;
}


.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-container img {
    max-width: 30%;
    border-radius: 10px;
}

@media (max-width: 770px) {
    .hero-content {
        width: 100%;
        padding: 0px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .gallery-container img {
        max-width: 45%;
    }
}

@media (min-width: 771px) and (max-width: 1024px) {
    .hero-content {
        padding: 0;
        width: 70%;
    }

    .hero h1 {
        font-size: 40px;
    }

    .gallery-container img {
        max-width: 40%;
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

}



