* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
}

a {
    text-decoration: none;
    color: black;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}


.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin: 4px 0;
    border-radius: 2px;
}

.hidden {
    display: none;
}

.hero {
    background-image: url('https://i.pinimg.com/564x/1b/c9/8b/1bc98bd7df7d4c00bc61969748918a8a.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    background: rgba(255, 255, 255, 0.4);
    padding: 100px;
    border-radius: 10px;
}

.hero h1 {
    color: #fff;
    font-size: 36px;
    text-align: center;
}

.gallery {
    padding: 40px 20px;
    text-align: center;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gallery-container img {
    max-width: 30%;
    border-radius: 10px;
}

@media (max-width: 770px) {
    .hero-content {
        width: 90%;
    }

    .hero h1 {
        font-size: 28px;
    }

    .gallery-container img {
        max-width: 45%;
    }
}

@media (min-width: 771px) and (max-width: 1024px) {
    .hero-content {
        width: 70%;
    }

    .hero h1 {
        font-size: 32px;
    }

    .gallery-container img {
        max-width: 40%;
    }
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    nav a {
        margin: 10px 0;
        padding: 10px 0;
        background: rgba(255, 255, 255, 0.7);
        width: 100%;
    }

    nav.active {
        display: flex;
    }
}
