* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/564x/1b/c9/8b/1bc98bd7df7d4c00bc61969748918a8a.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
}

a{
    text-decoration: none;
    color: black;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.container {
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
}

.title-input {
    width: 80%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.upload-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.upload-box {
    width: 300px;
    height: 300px;
    background: #eee;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.upload-box img {
    width: 20px;
    height: 20px;
}

.upload-box input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}


.upload-btn > a {
    text-decoration: none;
    color: #fff;
}

.upload-btn {
    padding: 10px 20px;
    background: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.upload-box img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.upload-box input {
    position: absolute;
    width: 100px;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}


.slider{   
    
    padding: 30px;
}

input[type="range"] {
    width: 600px;

}

#preview {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}


.upload-box input[type="file"] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;

}   


.styled-range{
    -webkit-appearance: none;
    height: 10px;
    background: #ddd; /* 기본 배경색 */
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.styled-range::-webkit-slider-runnable-track {
    height: 10px;
    cursor: pointer;
    background: #ddd; /* 트랙 색상 */
    border-radius: 5px;
    border: 1px solid #000;
}

.styled-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: none; /* 핸들 색상 */
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #333;
    margin-top: -5px; /* 핸들이 트랙과 수평이 되도록 조정 */
}




@media (max-width: 750px) {
    .styled-range::-webkit-slider-runnable-track {
        height: 6px;
        cursor: pointer;
        background: #ddd; /* 트랙 색상 */
        border-radius: 5px;
        border: 1px solid #000;
    }
    .styled-range::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
    }
  
    .slider{
        padding: 40px;
    }

    input[type="range"] {
        width: 250px;
    }

    .upload-box {
        width: 300px;
        height: 300px;
        background: #eee;
        border: 2px dashed #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .upload-box img {
        width: 20px;
        height: 20px;
    }

    .container {    
        background: rgba(255, 255, 255, 0.8);
        width: 350px;
    }
    .title-input {
        width: 95%;
    }
}

    @media (min-width: 751px) and (max-width: 1300px) {
      
        .container {
            max-width: 720px;
            margin: 200px auto;
            padding: 30px;
            background: rgba(255, 255, 255, 0.8);
            text-align: center;
        }
        .filter-section {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 20px;
        
        }
        .slider{
            padding: 40px;
        }

        .upload-box {
            width: 400px;
            height: 400px;
        }
    
        .upload-box img {
            width: 20px;
            height: 20px;
        }
    
        .title-input {
            width: 90%;
        }
   
    }



